.list section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .list section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .list section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.completed {
    background:#ccc;
    text-decoration:line-through;
}

.todolist {
	width: 150px;
	height: 120px;
	padding: 5px;
	overflow: hidden;
	display: -ms-grid;
	-ms-grid-columns: auto 1fr;
	-ms-grid-rows: auto 1fr;
    border:2px solid #0094ff;
}

.todolist:hover {
    border:2px solid #01538f;
}

#todoList .win-container {
    outline:none;
}

#todoList .win-container:hover {
    background-color: #ccc; 
    outline: none;
}

.taskName {
    margin:0 0 0 30px;
}